@media only screen and (max-width: 760px) {
  .ml-10 {
    margin-left: -0.5rem;
  }
  .ml-15 {
    margin-left: -0.5rem;
  }
  .ml3 {
    margin-left: 0rem!important;
  }
  .mobile-ml-10 {
    margin-left: 0.9rem;
  }
  .ml-25 {
    margin-left: 2.5%;
  }
  .lineheight-4 {
    line-height: 1em;
  }
}

@media only screen and (max-width: 760px) {
  .mr3 {
    margin-right: 7em!important;
  }
}

@media only screen and (max-width: 760px) {
  .mr4 {
    margin-right: 4.4em;
  }
}

@media only screen and (max-width: 760px) {
  .button {
    background-color: rgb(243, 237, 240);
    /* Green */
    border: .115vw solid #0817f3;
    border-top: 1.2vw solid rgb(128, 0, 0);
    color: rgb(128, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
    margin: 1vw 3vw;
    cursor: pointer;
    padding: 2vw 2vw;
  }
  .summary {
    font-size: 2vw;
    font-weight: normal;
    text-align: center;
    padding: 2em;
  }
  .custom {
    font-size: 5vw;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    display: none;
  }
  td {
    border: none !important;
    padding-left: 50%;
    border-style: hidden !important;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-style: hidden !important;
    white-space: nowrap!important;
  }
  tr {
    border-bottom: black 0.1em solid;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  td.policytable:nth-of-type(1):before {
    font-weight: bold;
    content: "Product";
    padding-right: 5.5em;
  }
  td.policytable:nth-of-type(2):before {
    font-weight: bold;
    content: "Status";
    padding-right: 6.1em;
  }
  td.policytable:nth-of-type(3):before {
    font-weight: bold;
    content: "Policy Number";
    padding-right: 2.1em;
  }
  td.policytable:nth-of-type(4):before {
    font-weight: bold;
    content: "Account";
    padding-right: 5.2em;
  }
  td.policytable:nth-of-type(5):before {
    font-weight: bold;
    content: "Named Insured";
    padding-right: 2em;
  }
  td.policytable:nth-of-type(6):before {
    font-weight: bold;
    content: "Premium";
    padding-right: 5em;
  }
  td.policytable:nth-of-type(7):before {
    font-weight: bold;
    content: "Effective Date";
    padding-right: 2.8em;
  }
  td.policytable:nth-of-type(8):before {
    font-weight: bold;
    content: "Expiration Date";
    padding-right: 2.1em;
  }
  td.summarytable:nth-of-type(1):before {
    font-weight: bold;
    content: "Policy Number";
    padding-right: 2.5em;
  }
  td.summarytable:nth-of-type(2):before {
    font-weight: bold;
    content: "Account";
    padding-right: 5.6em;
  }
  td.summarytable:nth-of-type(3):before {
    font-weight: bold;
    content: "Named Insured";
    padding-right: 2.4em;
  }
  /*
    policysummary table
    */
  td.psummarytable:nth-of-type(1):before {
    font-weight: bold;
    content: "Policy";
    padding-right: 6.5em;
  }
  td.psummarytable:nth-of-type(2):before {
    font-weight: bold;
    content: "Effective";
    padding-right: 5.2em;
  }
  td.psummarytable:nth-of-type(3):before {
    font-weight: bold;
    content: "Status";
    padding-right: 6.4em;
  }
  td.psummarytable:nth-of-type(4):before {
    font-weight: bold;
    content: "Product";
    padding-right: 5.7em;
  }
  td.psummarytable:nth-of-type(5):before {
    font-weight: bold;
    content: "Primary Insured";
    padding-right: 2em;
  }
  td.psummarytable:nth-of-type(6):before {
    font-weight: bold;
    content: "Premium";
    padding-right: 5.4em;
  }
  td.psummarytable:nth-of-type(7):before {
    font-weight: bold;
    content: "Change Policy";
    padding-right: 3em;
  }
  td.drivertable:nth-of-type(1):before {
    font-weight: bold;
    content: "Driver Name";
    padding-right: 3.8em;
  }
  td.drivertable:nth-of-type(2):before {
    font-weight: bold;
    content: "License#";
    padding-right: 5.9em;
  }
  td.drivertable:nth-of-type(3):before {
    font-weight: bold;
    content: "License State";
    padding-right: 3.9em;
  }
  td.drivertable:nth-of-type(4):before {
    font-weight: bold;
    content: "License Year";
    padding-right: 4.3em;
  }
  td.drivertable:nth-of-type(5):before {
    font-weight: bold;
    content: "Driver/Non Driver";
    padding-right: 1.5em;
  }
  /* for vehicle details table*/
  td.vehicledoc:nth-of-type(1):before {
    font-weight: bold;
    content: "Vehicle#";
    padding-right: 4.1em;
  }
  td.vehicledoc:nth-of-type(2):before {
    font-weight: bold;
    content: "Vehicle Type";
    padding-right: 2.2em;
  }
  td.vehicledoc:nth-of-type(3):before {
    font-weight: bold;
    content: "Model Year";
    padding-right: 2.7em;
  }
  td.vehicledoc:nth-of-type(4):before {
    font-weight: bold;
    content: "Make";
    padding-right: 5.3em;
  }
  td.vehicledoc:nth-of-type(5):before {
    font-weight: bold;
    content: "Model";
    padding-right: 4.9em;
  }
  td.vehicledoc:nth-of-type(6):before {
    font-weight: bold;
    content: "VIN";
    padding-right: 6.1em;
  }
  /*for account summary table */
  td.accounttable:nth-of-type(1):before {
    font-weight: bold;
    content: "CUSTOMER";
    padding-right: 3.1em;
  }
  td.accounttable:nth-of-type(2):before {
    font-weight: bold;
    content: "POLICIES";
    padding-right: 3.7em;
  }
  td.accounttable:nth-of-type(3):before {
    font-weight: bold;
    content: "DATE CREATED";
    padding-right: 0.9em;
  }
  td.accounttable:nth-of-type(4):before {
    font-weight: bold;
    content: "ADDRESS:";
    padding-right: 0.2em;
  }

  td:nth-of-type(1):before {font-weight: bold; content: "Subject";padding-right: 6em;}
  td:nth-of-type(2):before {font-weight: bold; content: "Assign To"; padding-right: 5em;}
  td:nth-of-type(3):before {font-weight: bold; content: "Due Date"; padding-right: 5em;}   
  td:nth-of-type(4):before {font-weight: bold; content: "Escalation Date";padding-right: 2.3em;}    
  td:nth-of-type(5):before {font-weight: bold; content: "Priority"; padding-right: 6em;}   
  td:nth-of-type(6):before {font-weight: bold; content: "Description"; padding-right: 4.2em;}
  td:nth-of-type(7):before {font-weight: bold; content: "Notes"; padding-right: 9em;}  
  td:nth-of-type(8):before {font-weight: bold; content: "Edit"; padding-right: 10em;}  
  td:nth-of-type(9):before {font-weight: bold; content: "Mark As Complete"; padding-right: 6em;}

  .ml-12 {
    margin-left: 12em;
  }
  .margin-date {
    margin-top: 0em;
  }
  .pr-6 {
    padding-right: 1em;
  }
  .pl-6 {
    padding-left: 1em;
  }
  .pl-1pt5 {
    padding-left: 1.5em !important;
  }
  .pl-03 {
    padding-left: 3em !important;
  }
  .fs-1pt5 {
    font-size: 1em;
  }
  .fs-1pt2 {
    font-size: 0.8em;
  }
  .fs-1 {
    font-size: 0.7em;
  }
  .homebutton {
    padding: 1em !important;
    margin-right: 2em;
    margin-left: 1em;
    border-color: black !important;
  }
  .icon-10x {
    font-size: 5em;
  }
  .quotebutton {
    padding-left: 2em!important;
    padding-right: 2em !important;
  }
  .sidebarhamburgerbutton {
    width: 100%;
    float: left;
    position: relative;
  }
  /* for additional Interest table*/
  td.addinteresttable:nth-of-type(1):before {
    font-weight: bold;
    content: "Name";
    padding-right: 7.35em;
  }
  td.addinteresttable:nth-of-type(2):before {
    font-weight: bold;
    content: "Interest Type";
    padding-right: 3.9em;
  }
  td.addinteresttable:nth-of-type(3):before {
    font-weight: bold;
    content: "Certificate Required";
    padding-right: 0.9em;
  }
  td.addinteresttable:nth-of-type(4):before {
    font-weight: bold;
    content: "Contract Number";
    padding-right: 2.3em;
  }
  td.addinteresttable:nth-of-type(5):before {
    font-weight: bold;
    content: "Action";
    padding-right: 7.8em;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  td.subsummarytable:nth-of-type(1):before {
    font-weight: bold;
    content: "Quote Number";
    padding-right: 3.6em;
  }
  td.subsummarytable:nth-of-type(2):before {
    font-weight: bold;
    content: "Created Date";
    padding-right: 4.2em;
  }
  td.subsummarytable:nth-of-type(3):before {
    font-weight: bold;
    content: "Status";
    padding-right: 7.6em;
  }
  td.subsummarytable:nth-of-type(4):before {
    font-weight: bold;
    content: "Product";
    padding-right: 6.7em;
  }
  td.subsummarytable:nth-of-type(5):before {
    font-weight: bold;
    content: "Primary Insured";
    padding-right: 3em;
  }
  td.subsummarytable:nth-of-type(6):before {
    font-weight: bold;
    content: "Edit Quote";
    padding-right: 4.8em;
  }
  .width-40 {
    width: 25%!important;
  }
  .textsize-mobile {
    font-size: large;
  }
  .mobile-width-100 {
    width: 99% !important;
  }
  .device-left-18 {
    margin-left: 2rem!important;
  }
  .device-left-6 {
    margin-left: 6.5rem!important;
  }
  .width-80{
    width: 40%;
  }
}
